---
---

<!-- Experiencia profesional y formación -->
<!-- Menú de pestañas para presentar por un lado la experiencia y por otro la formación -->

<section id="about" aria-label="Información de Cristian">
    <div class="p-4 mx-auto max-w-5xl text-center">
        <h2 class="text-3xl font-bold mb-6">Sobre mí</h2>
        <p class="mb-4">Hola, soy Cristian Cantero López, un desarrollador web Full Stack especializado en JavaScript, React y Node.js. Me apasiona crear aplicaciones web rápidas, escalables y con un diseño atractivo.</p>
        <p class="mb-4">Tengo experiencia trabajando con tecnologías modernas como Astro y Tailwind CSS, lo que me permite desarrollar sitios web eficientes y de alto rendimiento.</p>
    </div>
</section>