---
---

<!-- Experiencia profesional y formación -->
<!-- Menú de pestañas para presentar por un lado la experiencia y por otro la formación -->

<section id="about" aria-label="Información de Cristian">
    <div class="p-4 mx-auto max-w-5xl text-center">
        <h2 class="text-3xl font-bold mb-6 text-amber-300">Sobre mí</h2>
        <p class="text-lg mb-6">¡Hola! Soy Cristian, un estudiante de ingeniería en sistemas y computación, con experiencia en el desarrollo web y en el diseño de sitios web.</p>
        <p class="text-lg mb-6">Desde el año 2019, he trabajado en el desarrollo de aplicaciones web, utilizando tecnologías como HTML, CSS, JavaScript, React, Node.js, Express, MongoDB, y otras herramientas de desarrollo.</p>
        <p class="text-lg mb-6">También he desarrollado sitios web utilizando frameworks como Bootstrap
    </div>
</section>