---
---

<!-- Formulario de contacto -->

<section id="contact" aria-label="Contacto de Cristian">
    <div class="p-4 mx-auto max-w-4xl text-center">
        <h2 class="text-3xl font-bold mb-6">Contacto</h2>
        <p class="mb-4">Si deseas ponerte en contacto conmigo, puedes enviarme un correo electrónico a <a href="mailto:cristiancantero@gmail.com">cristiancantero@gmail.com</a>.</p>
    </div>
</section>