---
---

<!-- Foto, descripci贸n, skills, redes sociales y descargar CV + email -->

<section aria-label="Presentaci贸n de Cristian Cantero L贸pez" class="p-4 mx-auto max-w-4xl h-screen">
	<div class="text-center">
		<p class="text-lg">Hola, soy Cristian Cantero L贸pez, un desarrollador web Full Stack especializado en JavaScript, React y Node.js.</p>
	</div>
</section>