---
import { getCollection } from 'astro:content';
import ProjectCard from '../ui/ProjectCard.astro'; // ajusta la ruta si está en otra carpeta

const featuredProjects = (await getCollection('featured-projects')).slice(0, 2);
const otherProjects = await getCollection('projects');
---

<section id="projects" aria-label="Proyectos destacados de Cristian Cantero López" class="p-4 my-20 mx-auto max-w-3xl scroll-mt-20 lg:max-w-5xl" data-aos="fade-up">
	<div class="flex items-center mb-6 gap-2">
		<svg xmlns="http://www.w3.org/2000/svg" class="w-8 h-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
			<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
				d="M3 7a2 2 0 012-2h5l2 2h7a2 2 0 012 2v8a2 2 0 01-2 2H5a2 2 0 01-2-2V7z" />
		</svg>
		<h1 class="text-3xl font-bold">Proyectos destacados</h1>
	</div>

	<!-- Destacados: columna única, 100% del ancho -->
	<div class="grid grid-cols-1 gap-6 mb-16">
		{featuredProjects.map((project) => (
			<ProjectCard {...project.data} featured />
		))}
	</div>

	<div class="flex items-center mb-6 gap-2">
		<h2 class="text-2xl font-bold">Otros proyectos</h2>
	</div>

	<!-- Resto de proyectos -->
	<div class="grid grid-cols-1 gap-6 lg:grid-cols-2">
		{otherProjects.map((project) => (
			<ProjectCard {...project.data} />
		))}
	</div>
</section>