---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';

import About from '../components/sections/About.astro';
import Experience from '../components/sections/Experience.astro';
import Projects from '../components/sections/Projects.astro';
import Contact from '../components/sections/Contact.astro';

import '../styles/global.css';
---

<Layout 
	title="Cristian Cantero López | Desarrollador Web Full Stack en JavaScript, React y Node.js" description="Desarrollador web Full Stack especializado en JavaScript, React, Node.js y tecnologías modernas como Astro y Tailwind CSS. Ayudo a crear sitios web rápidos, escalables y con un diseño atractivo."
>
	<header>
		<Navbar />
	</header>
	<main>
		<About />
		<Experience />
		<Projects />
		<Contact />
	</main>
	<footer>
		<p class="text-center text-gray-500 text-sm mt-8">© 2025 Cristian Cantero López. Todos los derechos reservados.</p>
	</footer>
</Layout>
