---
import Layout from '@/layouts/Layout.astro';
import Navbar from '@/components/Navbar.astro';

import About from '@/components/sections/About.astro';
import Career from '@/components/sections/Career.astro';
import Projects from '@/components/sections/Projects.astro';
import Contact from '@/components/sections/Contact.astro';

import ToastProvider from '@/components/ui/ToastProvider.tsx';
import AosInit from '@/components/ui/AosInit.tsx';

import '@/styles/global.css';
---

<Layout 
	title="Cristian Cantero López | Data Engineer & AI Developer | Full Stack Developer" description="Especializado en ingeniería de datos, Big Data, machine learning y visualización de datos. Desarrollo pipelines de datos, procesos ETL/ELT y modelos de inteligencia artificial para la extracción de valor a partir de los datos. Experiencia adicional como desarrollador Full Stack, creando aplicaciones web completas que integran procesamiento y explotación de datos."
>
	<header>
		<Navbar />
	</header>
	<main>
		<AosInit client:load />
		<About />
		<Career />
		<hr class="border-0.5 border-gray-300 mt-20 w-screen mx-auto" />
		<Projects />
		<hr class="border-0.5 border-gray-300 mt-20 w-screen mx-auto" />
		<Contact />
		<ToastProvider client:load />
	</main>
	<footer>
		<p class="text-center text-gray-300 font-semibold text-sm mt-8">© 2025 Cristian Cantero López. Todos los derechos reservados.</p>
	</footer>
</Layout>
